<template>
    <div>
        <p>Fullname : {{ fullname }} </p>
        <button @click="changename">Change name</button>
    </div>
</template>

<script>
    export default {
        data() {
            return {
            firstname: "Tony",
            lastname: "Stack"
            }
        },
    
    computed: {
        fullname: {
            get() {
                return this.firsName + "" + this.lastName
            },
            set(value) {
                const names = value.split('')
                this.firsName = names[0]
                this.lastnameName = names[1]
            }
        }
    },

    methods: {
        changename() {
            this.fullname = 'iron man'
        }
    },

    }
</script>